:root { --mavi: #6bc1f1 }
header { background: url('img/headerbg.jpg') center/cover }
footer { background-color: #072035;}

#img1 { background: url('img/img1.jpg') center/cover }
#img2 { background: url('img/img2.jpg') center/cover }

.txt-mavi { color: var(--mavi) }
.txt-mgray{color: #b5bdc3;}
.bg-mavi { background-color: var(--mavi) }
.bg-gray { background-color: #f1f1f1 }
.bg-nav { background-color: #ffffffcc }
.vh-50 { height: 50vh; }
.fs-large{font-size: 6em;}
.resize{resize: none;}
.mt-20{margin-top: 240px;}
.hover:hover { opacity : .5 }
.hover:hover h5 { display : block!important }
.carousel img{padding: .5em;}
.psize-100{height: 100px;}