@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');
:root {
    --yasil1: #53d153;
    --yasil2: #2b9b2b;
    --yasil3: #207b20;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: url('../img/headerbg.jpg') center/cover;
}

#logo img { padding: 5px 0}
#menu li a {
    font: bold 1em Lato, sans-serif;
    color: #fff;
    padding: 5px 0;
    margin: 0 10px;
}
#title button {
    background: var(--yasil1);
    border: none;
    border-radius: 1.7em;
    padding: .5em 1em;
    margin: 1em;
    font: 1em Lato, sans-serif;
    text-transform: uppercase;
    color: #fff;
}
h1 {
    font: bold 2em Montserrat;
    text-transform: capitalize;
    color: #fff;
}
h2{
    font: 400 1.3em Montserrat;
    text-align: center;
    letter-spacing: 4px;
    color: #818181;
    text-transform: uppercase;
}
h3{
    font: bold 1.5em Lato, sans-serif;
    color: #828181;
    text-align: center;
    padding: 10px 0;
}
h4{
    font: 1em Montserrat;
    text-align: center;
    letter-spacing: 3px;
    color: #ddd;
    text-transform: uppercase;
}
h6{
    font: 1em "Open-Sans", sans-serif;
    color: #b7b3b3;
    text-align: center;
    padding: 0 10px 60px 10px;
}
hr{
    width: 43px;
    border: 1px solid #818181;
    background: #818181;
}

.bgyasil hr{
    border:1px solid  var(--yasil3);
    background: var(--yasil3);
}
.bgyasil h6{color: var(--yasil2);}
.bgyasil h2{color: var(--yasil3);}

.col33 p{
    font: 1em Montserrat;
    text-align: center;
    color: #828181;
    padding: 0 40px 20px 40px;
}
.col33 button{
    background: var(--yasil1);
    border: none;
    border-radius: 1.7em;
    padding: 9px 20px;
    font: 1em Lato, sans-serif;
    color: #fff;
    margin-bottom: 30px;
}
#search { display: flex;}
#search input {
    background: #ffffff80;
    border: none;
    outline: none;
    font: 1em Lato;
    color: #111;
    padding: 5px 17px;
}
#search [type=search] {
    border-radius: 15px 0 0 15px;
}
#search [type=submit] {
    border-radius: 0 15px 15px 0;
    background: #ffffff80 url('../img/search.svg') center/50% no-repeat ;
}

#chose {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
}
#chose button{
    background: #fff;
    border: 1px solid var(--yasil3);
    outline: none;
    font: 1em Lato;
    color: var(--yasil3);
    padding: 10px 20px;
}

.photolist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photolist img{ margin: 5px;}

.bgboz .photolist img{
    margin: 10px;
}
#chose #chosebtn1{
    background: var(--yasil3);
    color: #fff;
    border-radius: 20px 0 0 20px;
}
#chosebtn2{
    border-radius: 0 20px 20px 0;
}

#scroll{
    font: 1em Lato, sans-serif;
    color: #111;
    text-align: center;
    padding: 5px 10px;
    background: #ffffff88;
    border-radius: 14px;
    margin-bottom: 12px;
    border: none;
}
main section {
    padding: 40px 0;
    text-align: center;
}
.icon {
    display: flex;
    margin: auto;
    width: 7em;
    height: 7em;
    background: #e0f3e0;
    border-radius: 28px;
}
.icon i { 
    margin: auto; 
    font-size: 4em;
    color: var(--yasil1)
}

.nextbtn{
    font: 1em Lato, sans-serif;
    color: #fff;
    text-align: center;
    padding: 12px 18px;
    background: var(--yasil3);
    border-radius: 22px;
    border: none;
    margin-top: 40px;
}
.difnext{
    background: #dddcdc;
    color: #a59d9d;
}

#text{
    display: flex;
    justify-content: center;
    margin: 0 0 25px 0;
}
#text p{
    max-width: 500px;
    font: 1em Lato, sans-serif;
    color: #444;
    text-align: center;
    margin: auto;
}
#text img{ margin: auto;}

#ceo{
    display: flex;
    justify-content: center;
}
#ceo p{
    font: 1em Lato, sans-serif;
    color: #444;
    text-align: left;
}
#ceo #ceop2{color: #ccc;}

#meetteam{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
#meetteam article{margin: 5px;}
#meetteam h6{
    font: 1em Lato, sans-serif;
    color: #fff;
    padding: 10px 0;
}
.media{
    max-width: 85px;
    margin: auto;
    padding: 5px;
    background: #ffffff80;
    border-radius: 15px;
}
.media i {padding:0 3px;}
#mediaicon1{color: #e84e8a;}
#mediaicon2{color: #0061ff;}
#mediaicon3{color: #00abed;}

.darkgreen{
    padding: 40px;
    margin-top: 20px;
    background-color: #3eba3e;
}
.nobottompadding{padding-bottom: 0px;}
.darkgreen button{
    background: var(--yasil1);
    border: none;
    border-radius: 1.7em;
    padding: 10px 20px;
    font: 1em Lato, sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.footergray1{background-color: #333;}
.footergray1 p{
    font: .9em Montserrat;
    text-align: center;
    color: #ccc;
}
.col333 {padding: 30px 20px;}
.aboutus p{padding: 25px 10px 30px 10px;}
.recentpost img{
    height: 50px; 
    border-radius: 10px;
    margin: 0 10px;
}
.recentpost p{
    text-align: left; 
    color: #fff;
}
.posts{
    display: flex;
    padding: 7px 10px;
}
.category{
    text-transform: uppercase;
    padding: 0 4px;
    border-radius: 3px;
    display: inline;
}

.bgyasil1{background-color: var(--yasil1);}
.bgnarinci{background-color: #ffba00;}
.bgqirmizi{background-color: #f34c03;}
.bgmavi{background-color: #089cea;}


.contactus {
    padding: 20px 0 0 0;
}
.contactus p {
    font: 300 .9em Montserrat;
    color: #cccccc;
}
.contactus form { width: 100%; margin-top: 20px;}
.radius { border-radius: 4px 4px 0 0;}

.contactus input,
.contactus textarea {
    font: 1em Lato, sans-serif;
    color: #ddd;
    outline: none;
    border: none;
    width: 90%;
    padding: 14px 11px;
    margin-bottom: 2px;
    background-color: #444;
}
.contactus input[type=submit] {
    background-color: #2b9b2b;
    border-radius: 0 0 4px 4px;
}
.contactus textarea {
    resize: none;
    height: 100px;
}

.footergray2{
    background-color: #212121;
    padding-top: 25px;
}
.footergray2 h2{ color: #111;}
.footergray2 hr{
    width: 30px;
    border: 1px solid #111;
    background: #111;
}
#ans{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
#ans img{
    padding: 20px 10px;
}
.footergray3{
    background-color: #111;
    font: .7em Lato, sans-serif;
    padding: 10px;
    text-align: center;
    color: #fff;
}
.col3{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}


#btn1{ background: url(../img/lg1.png) center/cover;}
#btn2{ background: url(../img/lg2.png) center/cover;}
#btn3{ background: url(../img/lg3.png) center/cover;}

.allbtn{
    height: 30px;
    width: 30px;
    border: none;
    padding: 5px;
    outline: none;
}

.bgyasil { background-color: var(--yasil1); }
.bgboz { background-color: #f1f1f1; }
.txtyasil{ color: var(--yasil2);}

@media only screen and (min-width: 768px) {
    header nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    #title button {
        padding: 1em 2em;
        font: 1.4em Lato, sans-serif;
        margin: 2em;
    }
    h1 { font-size: 3.4em }
    #menu {
        display: flex; 
        order: -1
    }
    .col33 {
        max-width: 1100px;
        display: flex;
        margin: auto;
    }
    .col333{width: 33.3%; margin: auto;}
    .footergray1{
        display: flex;
        margin: auto;
        padding: 30px;
    }

    .photolist{
        width: 75%;
        margin: auto;
    }

    .lineyasil {
        width: 2px;
        height: 80px;
        background-color: #1f7b1f;
        margin: auto;
    }
    #meetteam article{margin: 0 30px;}
    #ans img{padding: 30px 50px;}
    .photolist img{ margin: 15px;}
    .posts{margin-left:60px ;}
    .bgboz .photolist img{margin: 20px 50px;}

    .aboutus p{padding: 25px 40px 30px 40px;}
    .footergray1{
        display: flex;
        justify-content: center;
    }
}